body{
    background-color:#D9C2A7;
}
h1{
    font-style: italic;
    color: #5E2610;
}
#intruduction{
    font-style: italic;
    font-weight: bold;
}
.content{
    padding-left: 15cm;
}
.content2{
    padding-left: 14cm;
    top: 10px;
}
.info{
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
    color:#963102;
    font-weight: bold;
}
.title{
    background-color: brown;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin-top: 15px;
}
#end{
    padding-left: 10cm;
    font-weight: bold;
    font-size: 20px;
    font-family:"Roboto Mono",monospace;
}